<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>The Three Muskeeteers</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/static/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  {%block extrajs %}

  {%endblock%}
  {%block extracss %}

  {%endblock%}
</head>
<body>
  <!-- Modal Structure -->
  <div id="modal1" class="modal">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" style="float:right"><i class="material-icons">close</i> </a>
    <div class="modal-content">
      <h4 id="modal_header">Modal Header</h4>
      <p id="modal_desc">A bunch of text</p>
    </div>
    
  </div>
          
 <!-- Dropdown Structure -->
	<ul id="dropdown1" style="top:65px !important;width:120px !important" class="dropdown-content">
	  <li><a href="{% url 'storm_view' %}">Storm View</a></li>
	  <li><a href="{% url 'tree_view' %}">Tree View</a></li>
	</ul>
	<nav>
	  <div class="nav-wrapper">
	    <a href="#!" class="brand-logo">&nbsp;&nbsp;infoSTORM - New Generation Portal (NGP)</a>
	    <ul id="nav_buttons" class="hide-on-med-and-down">
	      <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">{%if storm %}Storm View {%else%} Tree View {%endif%}<i class="material-icons right">arrow_drop_down</i></a></li>
        {%if storm %}
          <li> <div class="switch">
              <label style="color:white">
                Circular Link - Off
                <input type="checkbox">
                <span class="lever"></span>
                On
              </label>
            </div>
          </li>
          <li>&nbsp;</li>
          <li>&nbsp;</li>
        {%endif%}
	    </ul>
	  </div>
	</nav>
	<br>
	{%block content %}

  {%endblock%}
  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/static/js/materialize.js"></script>
  <script src="/static/js/init.js"></script>
  <script src="/static/js/paper-full.js"></script>
  <script type="text/javascript" src="/static/js/storm.js"></script>
  <script type="text/javascript" src="/static/js/service_calls.js"></script>

  <script>
  	$(document).ready(function() {
  		$(".dropdown-trigger").dropdown();
  	})
  	$(document).ready(function(){
    	$('.modal').modal();

  });

  $("#details_area").on("click", "#screenshot", function(){
    fillmodal("Landing Page", "<img src='/media/landing.png' style='width:100%'>");
	});
  </script>

  </body>
</html>
