.dropdown-content  {
    top: 65px !important;
}

nav {
	background: #FF9800;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}

#content_space {
	min-height: 100vh;
}
.card-panel {
	padding: 3px !important;
	margin:0px !important;
}
.row {
	margin-bottom:5px !important;
}

.modal {
    max-height: 100%;
    width: 73%;
}
#dropdown1 {
	width: 120px !important;
}

#nav_buttons{
	margin-left: 47%;
}