.dropdown-content  {
    top: 65px !important;
}

nav {
	background: #795548;
}

#details_area {
	border-left:1px solid black;
}

#content_space {
	min-height: 100vh;
}
.card-panel {
	padding: 3px !important;
	margin:0px !important;
}
.row {
	margin-bottom:5px !important;
}